<div class="card w-500 mr-2 mt-2 border border-danger" style="width: 20rem;">
    <div class="card-header bg-danger">
      </div>
    <img class="card-img-top" [src]="createImgPath(evt.url)" alt="Card image cap" height="200">
    <div class="card-body" >
        <h1 class="card-title text-center text-primary text-uppercase">{{evt.title}}</h1>
        <h2> المكان فى  {{evt.location.title}}</h2>
        <h2>  {{evt.date}}</h2>

        <!--<p class="card-text">{{evt.description}}</p>-->
        <h2> هنحتاج اليوم ده {{evt.number}} متطوع </h2>
        <h2> الاحتياجات : {{evt.needs}}</h2>
        <h2> للمشاركة برجاء التواصل عبر المحمول على رقم 01091046000</h2>
        <a *ngIf="loggedin()" [routerLink]="['/event-detail',evt.id]" class="btn btn-primary mr-1 text-white">تفاصيل</a>
        <a  *ngIf="loggedin()" (click)="delete(evt.id)" class="btn btn-danger text-white">حذف</a>


    </div>
</div>