<div class="card w-500 mr-2 mt-2 border border-danger" style="width: 20rem;">
    <div class="card-header bg-danger">
      </div>
    <img class="card-img-top" [src]="createImgPath(evt.url)" alt="Card image cap" height="200">
    <div class="card-body" >
        <h1 class="card-title text-center text-primary text-uppercase">{{evt.title}}</h1>
        <h2> المكان فى  {{evt.location.title}}</h2>
        <h2>  {{evt.date}}</h2>

        <!--<p class="card-text">{{evt.description}}</p>-->
        <h2> هنحتاج اليوم ده {{evt.number}} متطوع </h2>
        <h2> الاحتياجات : {{evt.needs}}</h2>
        <a *ngIf="loggedin()" [routerLink]="['/event-detail',evt.id]" class="btn btn-primary ml-1 text-white">تفاصيل</a>
        <a  *ngIf="loggedin()" (click)="delete(evt.id)" class="btn btn-danger text-white">حذف</a>
        <a *ngIf="!loggedin()" class="btn btn-primary text-white"  data-toggle="modal" data-target="#exampleModalLong"> للمشاركة</a>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" [hidden]="form">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">للمشاركة</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="modal-body" [formGroup]="joinform" >
              
                  <input class="form-control mt-2" formControlName="name" placeholder="الاسم">
                  <input type="number" class="form-control mt-2" formControlName="phoneNumber" placeholder="رقم المحمول">
                
             
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-primary" type="submit" [disabled]="!joinform.valid" (click)="joinEvent()" data-dismiss="modal">تاكيد</button>
              </div>
            </form>
          </div>
        </div>

    </div>
</div>