
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

@import url(https://fonts.googleapis.com/css?family=Cairo);
body {
    font-family: cairo;
    direction: rtl;
    text-align: right;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1,h2,p,h3{
    font-family: cairo;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.placeForm{
    margin-top: 20px;
    border: 1px solid #ced4da;
    padding: 20px;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.container{
    min-height: 300px;
}