@import '../bootstrap-4.2.1-rtl/dist/css/rtl/bootstrap.css';
@import url(https://fonts.googleapis.com/css?family=Cairo);
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
body {
    font-family: cairo;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
