@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url(https://fonts.googleapis.com/css?family=Cairo);
body {
    font-family: cairo;
    direction: rtl;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1,h2,p,h3{
    font-family: cairo;
    font-weight: bolder;
}
