#carouselExampleIndicators{
    z-index: -1;
    outline: none;
    direction: ltr;
}
h1,p,h2,a,button{ 
    font-family: cairo;
}
.example-card {
    max-width: 350px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  