<div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message!== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        {{message}}
    </div>
    <div class="col-md-5 m-auto" style="direction: rtl;">
    <div class="needForm d-block">
    <h2 style="text-align: center;">اضافة احتياجات الشهر</h2>
    <hr style="border: 1px solid #d8d8d8; margin-top: -5px;" width="20%">
    <form [formGroup]="needForm" (ngSubmit)="Add()">
        <div class="form-froup">
            <label for="month" style="font-weight: 520;font-size: 15px;">الشهر</label>
            <select formControlName="month" class="form-control" >
                <option *ngFor="let month of months" [value]='month'> {{month}} </option>
            </select>
           <!--<input type="text" 
            formControlName="month" 
            class="form-control" [ngClass]="{'is-invalid':
            needForm.get('month').invalid && needForm.get('month').touched}">
            <div class="text-danger" *ngIf="needForm.get('month').invalid &&
             needForm.get('month').touched">
                {{messageValidate.month.required}}
            </div>
        </div>--> 
        </div>
        <div class="form-group mt-3">
            <label for="description" style="font-weight: 520;font-size: 15px;">الاحتياجات</label>
            <textarea name="description" 
            id="description"
            class="form-control"
            formControlName="description" [ngClass]="{'is-invalid': 
            needForm.get('description').invalid && needForm.get('description').touched}"></textarea>
            <div class="text-danger" *ngIf="needForm.get('description').invalid &&
             needForm.get('description').touched">
                {{messageValidate.description.required}}
            </div>
        </div>
        <button type="submit" [disabled]="!needForm.valid" 
        class="btn btn-block mt-2" style="background-color: #27318b;color: white;"
        >{{btnTitle}}</button>

    </form>
    </div>
</div>
</div>
