<div class="mt-2 border border-danger rounded">
    <h1 class="text-center" style="font-family: cairo;font-weight: bold; font-size:xx-large">تابعونا على فيس بوك
    </h1>
<div class="fb-page" data-href="https://www.facebook.com/Lamsetma7abawra7ma/" data-tabs="timeline"  data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Lamsetma7abawra7ma/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/Lamsetma7abawra7ma/">‎مؤسسة لمسة محبة ورحمة لرعاية مرضى الأورام والفشل الكلوي‎</a></blockquote></div>
</div>
