<div class="container" *ngIf="place">
    <div class="row">
        <ol class="col-12 breadcrumb " style="direction: rtl;">
            <li class="breadcrumb-item "><a [routerLink]="['/places']" routerLinkActive="router-link-active" > الاماكن </a></li>
            <li class="breadcrumb-item active"> {{place.title}} </li>
        </ol>
        <div class="col-12 col-auto">
            <h1 class="text-center" style="color: #27318b; font-weight: bold; font-size: 28px;">{{place.title}}</h1>
            <hr style="width: 8%; border: 2px solid #d8d8d8; border-radius: 10px;">
        </div>
    </div>

    <div class="row row-content ">
        <div class="col-12 col-md-6">
            <h2  style="color: #27318b; font-weight: bold; font-size: 28px;">نبذة عن المكان</h2>
            <p class="card-text" style="font-size: 16px;">{{place.description}}</p>
            <button *ngIf="loggedin()" class="btn btn-outline-primary mr-2"
             type="button" (click)="EditPlaceClick(place.placeId)">تعديل</button>
             <button *ngIf="loggedin()" class="btn btn-danger mr-2" 
             (click)="ondelete(place.placeId)">حذف</button>

             <!--
            <button class="btn btn-outline-danger" *ngIf="isAdmin()" type="button" (click)="onDelete(product.productId)">  Delete </button>   -->           
        </div>
        <div class="col-12 col-md-6">
            <div class="master-img">
                <img [src]="createImgPath(place.url)" class="mx-auto d-block img-fluid img-thumbnail" 
                alt="profile picture" style="width: 450px;height: 270px;">
            </div>
                
        
      
            <div class="row no-gutters mt-3 mr-3">
                <div *ngFor="let gallery of place.placeGalleries.slice(0, 2)" class="thumbnail">
                    <img [src]="createImgPath(gallery.url)" (click)="onclick()" class="img-thumbnail" 
                    alt="profile picture" style="max-width: 350px; height: 180px;">
                </div>
                
        </div>
    </div>
           
       
    </div>

    <div>
        <h1 class="text-center mt-2">الزيارات القادمة</h1>

        <div class="row">
            <div *ngFor="let event of place.events | paginate: {  itemsPerPage: 3,
                currentPage: p }">
                <div class="card mb-3 mr-2 border border-danger" style="width:350px;">
                    <div class="row g-0 ">
                      <div class="col-md-4 ">
                        <img [src]="createImgPath(event.url)" width="130" height="200" alt="...">
                      </div>
                      <div class="col-md-8 ">
                        <div class="card-body">
                          <h2 class="card-title">{{event.title}}</h2>
                          <p class="card-text">{{event.description}}</p>
                          <p class="card-text"><small class="text-muted">{{event.date}}</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                 
            </div>

           
           
            </div>
            <pagination-controls (pageChange)="update_page($event)"  ></pagination-controls>

        
           <!--
            <div class="border text-center border-primary rounded" style="display: block; width: 50%;margin-right: 200px;">
                <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"></canvas>
            </div>
           --> 
</div>
