<div class="container">
        <div>
            <button class="btn btn-info mt-3 btn-lg" routerLink="/addevent" *ngIf="loggedin()"> اضافة حدث </button>
            <div class="row" style="direction: rtl;">
              
                <app-event *ngFor="let item of events | paginate: {  itemsPerPage: 9,
                    currentPage: p}" [evt]="item"></app-event>
            </div>
            <hr>
            <pagination-controls (pageChange)="p = $event" ></pagination-controls>
        </div>
