<div class="col-sm-6 mt-4">
    <div class="card mr-2 mt-2" style="width: 18rem;">
        <a [routerLink]="['/place-detail' , place.placeId]"><img 
            [src]="createImgPath(place.url)" class="card-img-top mr-4 mt-4" alt="profile picture" height="190"></a>
        <div class="card-body">
            <a>
                <h1 class="text-uppercase text-center mb-3" style="font-family:cairo;font-weight:bolder;">{{place.title}}</h1>
            </a>
            <div class="mt-4">
                <button type="button" [routerLink]="['/place-detail', place.placeId]" class="btn btn-outline-danger btn-block text-uppercase bold"> التفاصيل</button>
            </div>
        </div>
    </div>
</div>


