<div class="container col-md-5 mt-4 placeForm">
    <form [formGroup]="addForm" (ngSubmit)="add()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="عنوان الفاعلية" formControlName="title">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="التفاصيل" formControlName="description"></textarea>
        </div>
        <div class="row ml-1">
            <div class="col-6">
                <div class="row">
                 <label class="font-weight-bold text-center" >  مكان الزيارة  </label>
                    <select class="form-control" formControlName="placeId" aria-placeholder="مكان الزيارة">
                        <option *ngFor="let place of places" [value]="place.placeId">{{place.title}}</option>
                    </select>
                   
                </div>
           
            </div>
            <div class="col-6 mt-2">
                <mat-form-field class="example-full-width ml-3" appearance="fill">
                    <mat-label>تاريخ الزيارة </mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>                    
            </div>

        </div>
        <div class="row">
            <div class="col">
                <input class="form-control" type="number" formControlName="number" placeholder="عدد المتطوعين المطلوب ">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="الاحتياجات" formControlName="needs">
            </div>
        </div>
        <div class="mt-2">
        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
        </div>
        <div>
            <button class="btn btn-primary mt-2 float-right btn-lg text-xl-center"  type="submit"> اضافة </button>
        </div>

    </form>
</div>