.row-content {
    margin: 0px auto;
    padding: 10px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
  }
  h1,h2{
    font-family: cairo;
    font-weight: bold;
  }
  p { font-weight: 300;
  font-size: larger;}