<div class="container">
    <div class="row row-content align-items-cente">
        <div class="col-12 col-sm-7 col-md-11 offset-md-1 ">
            <p style="padding: 1%;">مؤسسة لمسة محبة ورحمة لرعاية مرضى الأورام والفشل الكلوي
                مؤسسة غير هادفة للربح مشهرة من وزارة التضامن الاجتماعي برقم 10473 لسنة 2017
            </p>

            <p style="padding: 1%; background-color: rgb(223, 223, 223);">
                بدأ حلم العمل لرعاية مرضى الأورام والفشل الكلوي بمختلف مستشفيات مصر عام 2004 ، وبدأت المؤسسة بالجهود
                التطوعية لمجموعة من الشباب .
            </p>

            <p style="padding: 1%;">
                لمتطوعين بالمؤسسة .. هم مجموعة مختلفة الأعمار والخلفيات اجتمعوا حول رؤية واحدة وهي .. توصيل لمسة محبة
                ورحمة لكل شخص أو طفل متألم من السرطان أو الفشل الكلوي بكل أعمارهم واتجاهاتهم وأماكنهم
            </p>

            <p style="padding: 1%; background-color:  rgb(223, 223, 223);">
                مهمتنا هي تقديم الدعم والمساعدة للجميع .. لإدراكنا أهمية كل شخص من المرضى والمتألمين ومدى إحتياجهم للدعم
                النفسي والطبي والمادي .. كل شخص منهم هو إنسان يستحق أن يجد من يدعمه ويقدم له حياة أفضل..
            </p>

            <P style="padding: 1%;">

                أماكن عمل المؤسسة :<br>
                1- مستشفى الاطفال 57357<br>
                2- معهد الاورام القومى فم الخليج<br>
                3- العيادات الخارجية الخاصة بمعهد الأورام<br>
                4- مستشفى ابو الريش للاطفال<br>
                5- وحدة الفشل الكلوي بمستشفى أبو الريش<br>
                6- مستشفى القصر العينى القديم قسم الاورام والطب النووي<br>
                7- مستشفى هرمل (دار السلام) لأورام الأطفال<br>
                8- مستشفى الدمرداش الجامعي<br>
                9- بيت ابونا بيشوى كامل لمرضى الاورام<br>
                10- بيت مرسلات المحبة بشبرا<br>
                11- معظم قرى محافظة المنيا<br>
                12- معظم قرى محافظة أسيوط<br>
            </P>
            <p style="padding: 1%; background-color: rgb(223, 223, 223);">
                تهدف المؤسسة لمساعدة مرضى الأورام والفشل الكلوي بتقديم الأنشطة الأتية :<br>
                1- زيارات شهرية بجدول مواعيد منسق مع إدارات المستشفيات .<br>
                2- تنظيم حفلات للأطفال تقدم مواد ترفيهية وتربوية .<br>
                3- توفير أدوية وصفائح دم وبعض الأجهزة والمعدات الطبية للمستشفيات .<br>
                4- رعاية ومتابعة الحالات بشكل فردي .<br>
                5- تقديم تبرعات مادية للمستشفيات .<br>
                6- إقامة رحلات ترفيهية للأطفال المرضى لتوفير الدعم النفسي لهم .<br>
                7- ترتيب زيارات مرتبطة بالأعياد ( شهر رمضان – عيد الفطر- عيد الأضحى – عيد الميلاد – عيد القيامة ) .<br>
                8- رعاية بعض الأسر بمحافظات الصعيد وتوفير إحتياجات الأسرة (مواد تموينية – فرص عمل – مستلزمات الدراسة –
                بطاطين – مبالغ مادية – ملابس – أثاث منزلي ) .<br>
            </p>
            <p style="padding: 1%;">
                حلم متطوعي المؤسسة بالوصول لكل شخص مريض بالسرطان أو الفشل الكلوي بجميع محافظات جمهورية مصر العربية
                ومساعدتهم لتحسين حالتهم وزيادة الدعم النفسي لسرعة الشفاء .
            </p>
        </div>
    </div>
    <div class="row row-content ">
        <div class="col-12 col-ms-7 col-md-3">
            <img src="../../assets/images/1.jpg" class="mx-auto d-block img-fluid" alt="profile picture" height="400"
                style="max-width: 100%; margin-bottom: 30px; margin-top: 30px;">
            <img src="../../assets/images/1.jpg" class="mx-auto d-block img-fluid" alt="profile picture" height="400"
                style="max-width: 100%; margin-top: 30px;">
        </div>
        <div class="col-12 col-md-9">
            <video width="85%" height="100%" controls>
                <source src="../../../../../images/115962552_1686805661482612_1099622902566528215_n.mp4" type="video/mp4">
                <source src="../../../../../images/115962552_1686805661482612_1099622902566528215_n.mp4" type="video/ogg">
                Your browser does not support HTML video.
            </video>
        </div>
    </div>
    <div class="row row-content ">
        <div class="col-12 col-ms-7 col-md-4">
            <img src="../../assets/images/1.jpg" class="mx-auto d-block img-fluid" alt="profile picture" height="400"
                style="max-width: 100%;">
        </div>
        <div class="col-12 col-ms-7 col-md-4">
            <img src="../../assets/images/1.jpg" class="mx-auto d-block img-fluid" alt="profile picture" height="400"
                style="max-width: 100%;">
        </div>
        <div class="col-12 col-ms-7 col-md-4">
            <img src="../../assets/images/1.jpg" class="mx-auto d-block img-fluid" alt="profile picture" height="400"
                style="max-width: 100%;">
        </div>
    </div>

</div>