
<div class="container">
    <div>
        <button type="button" routerLink="/add-place" class="btn btn-primary mt-3">اضافة مكان</button>

        <div class="row mb-5" style="direction: rtl;">
                <app-place *ngFor="let plc of places" [place]="plc"></app-place>
        </div>
    </div>
   
    <div>
        <div style="display: block; width: 80%; text-align: center;">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
        </div>
    </div>
</div>
