<div class="container mt-3">
    <div class="border border-primary border-2 rounded pl-2 w-50 mt-2">
        <div class="container">
            <h1 style="text-align: center;"> بيانات المتطوع </h1>
            <hr style="width: 120px;">
        <h2>{{user.firstName}}{{user.secoundName}}</h2>
        <label> العنوان : </label>
        <p> {{user.reason}}</p>
        <label> البريد الالكترونى : </label>
        <p> {{user.email}}</p>
        <label> الوظيفة : </label>
        <p> {{user.job}}</p>
        <label> رقم الهاتف : </label>
        <p> {{user.phoneNumber}}</p>
        <label> المشاركة : </label>
        <p> {{user.comment}}</p>
        </div>
        
        </div>
       
    
</div>