<div class="container">
    <h1 class="mt-2">
        المشركين فى   {{evet.title}}
    </h1>
    <table class="table  table-light table-striped" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">الاسم </th>
            <th scope="col">رقم الهاتف</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of evet.joins">
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.phoneNumber}}</td>
            <td><button class="btn btn-danger" (click)="joinDelete(item.id)">حذف</button></td>
          </tr>
        </tbody>
      </table>
</div>
     