.month-class::before{
    content: "";
    border: 1px solid  rgb(228, 228, 240);
    display: inline-block;
    width: 15%;
    margin-left: 20px;
}
.month-class::after{
    content: "";
    border: 1px solid rgb(228, 228, 240);
    display: inline-block;
    width: 15%;
    margin-right: 25px;
}
p{
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 1.8;
    font-size: 16px;
    color: #212529;
}