a{ font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: bold;
    font-size: 17px;}

.navbar-light .navbar-nav .active>.nav-link{
    color: #DC143C;
    background-color: white;
    border-radius: 3px;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    border-radius: 3px;
}

.navbar-light .navbar-nav .active>.nav-link:hover ,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active {
    background-color: white;
    color: #DC143C;
    border-radius: 3px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

li:first-child{
    margin-left: auto;
    margin-right: 2em;
}
.navbar{
    border-bottom-right-radius: 10% solid red; 
    border-top-right-radius: 10% solid red;
}
@media screen and (max-width: 960px){

}