<div class="container">
  <div class="mt-2">
    <h1  class="text-center mt-1 font-weight-bold"> للتواصل معنا    <hr style="width: 15%; border: 1px solid #d8d8d8; border-radius: 10px;">

    </h1>
    <br>
    <h2 class="text-center  bg-light border border-dark rounded"> يمكنكم التواصل معنا من خلال رقم الهاتف 
      01091046000 
      <br>
      او من خلال صفحتنا على الفيس بوك 
      <a href="https://www.facebook.com/Lamsetma7abawra7ma/" target="_blank"><i class="fab fa-facebook  text-primary"></i></a>
      <br>     

    </h2>
  </div>
  <div class="text-center">
    <form [formGroup]="contactusForm" (ngSubmit)="addMessage()"  class="placeFormx">
      <div class="mb-3">
          <input type="text" class="form-control"  formControlName="name" placeholder="الاسم">
        </div>
      <div class="mb-3">
          
          <input type="number" class="form-control" formControlName="phoneNumber" placeholder="رقم الهاتف">
        </div>

        <div class="mb-3">
          <textarea class="form-control" formControlName="message" placeholder="الرسالة ..." rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-danger btn-lg">ارسال </button>
      </form>
  </div>
 
</div>
