<div class="container">
    <div class="col-md-5 m-auto" style="direction: rtl;">
        <div class="placeForm d-block">
            <form  [formGroup]='form' (ngSubmit)="addimage()">
                <h2 style="text-align: center;"> اضافة صورة جديدة</h2>
            <hr style="border: 1px solid #d8d8d8; margin-top: -5px;" width="40%">
    
                <div class="form-group mt-2">
                <input type="text" formControlName="title" placeholder="عنوان الصورة" class="form-control">
                </div>
                <div class="form-group mt-2">
                    <input type="date" formControlName="date" class="form-control">
                    </div>
                <div class="form-group d-flex  justify-content-center">
                    <app-upload class="w-100" (onUploadFinished)="uploadFinished($event)"></app-upload>
                </div>
                <button class="btn btn-primary" type="submit"> اضافة صورة</button>
                </form>
        </div>
      
    </div>
  
</div>
