<div class="container mb-4">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message !== ''">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      {{message}}
    </div>
    <div class="col-md-5 m-auto" style="direction: rtl;">
      <div class="placeForm d-block">
        <h2 style="text-align: center;">اضافة مكان جديد</h2>
        <hr style="border: 1px solid #d8d8d8; margin-top: -5px;" width="20%">
        <form [formGroup]="placeForm" (ngSubmit)="add()">
          <div class="form-group">
            <label for="title">اسم المكان</label>
            <input type="text" formControlName="title" class="form-control" 
            id="title" [ngClass]="{'is-invalid' : 
            !this.placeForm.get('title').valid && this.placeForm.get('title').touched}">
            <div class="text-danger" 
              *ngIf="this.placeForm.get('title').invalid && this.placeForm.get('title').touched">
                      {{messageValidate.title.required}}
              </div>
          </div> 

          <div class="form-group">
              <label for="description">التفاصيل</label>
              <textarea id="description" formControlName="description" 
              class="form-control" [ngClass]="{'is-invalid' : 
              placeForm.get('description').invalid && this.placeForm.get('description').touched}">
          </textarea>
          <div class="text-danger" *ngIf="this.placeForm.get('description').invalid &&
           this.placeForm.get('description').touched">
              {{messageValidate.description.required}}
          </div>
          </div>

          <div class="form-group">
            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
            
          </div>
          <div class="form-group">
            <app-upload-place (onUploadFinished)="uploadMultipleImages($event)"></app-upload-place>
          </div>
          
          <button type="submit" [disabled]="!placeForm.valid" class="btn btn-block mt-2" 
          style="background-color: #27318b;color: white;">{{btnTitle}}</button>
      </form>
      </div>
       
    </div>
    
  </div>
  