.container{
    margin-top: 50px;
}
.placeForm{
    margin-top: 20px;
    border: 1px solid #ced4da;
    padding: 20px;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
